<p>Please email your request to <a href="mailto:archivist@litchfieldhistoricalsociety.org">archivist@litchfieldhistoricalsociety.org</a> with the following information:</p>
<ul>
    <li>Your name.</li>
    <li>Your email address.</a>
    <li>Anticipated arrival date. Please note that appointments are required and can be made between the hours of 10-12 and 1-4 Tuesday-Friday as available. Check our <a href="https://www.litchfieldhistoricalsociety.org/calendar-grid/">calendar</a> for anticipated closures.</a>
    <li>The item(s) or URL(s) of the page you are requesting.</a>
    <li>Any notes to staff.</a>
</ul>

<p>The archives staff will get back to you as soon as possible.</p>
<hr/>
<p>Please see our website for more information about research at the <a href="https://www.litchfieldhistoricalsociety.org/collections/library/">Helga J. Ingraham Memorial Library</a>.</p>
